<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stromboli Pizza</title>
	{% block stylesheets %}
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="/themes/Stromboli.css"/>
   	{% endblock %}
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<!-- Start of first page: #landing -->
<div data-role="page" id="landing">

	<div data-role="header">
		<h1>Stromboli Pizza</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Welcome to Stromboli Pizza</h2>

		<br>
        <h3>Login to order or Register to create an account.</h3>

		<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>

	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Stromboli Pizza &copy; 2019</h4><br>
		<h4>Open 7 Days from 11am - 10pm</h4>
	</div><!-- /footer -->
</div><!-- /page landing -->

<!-------------------- Manager DASHBOARD ----------------------->

<div data-role="page" id="manager" data-theme="a">

	<div data-role="header">
		<h1>Manager</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Manager</h2>
   <button id="viewOrders">View Orders</button>

<script>

$("#viewOrders").click(function(){

  var name = sessionStorage.getItem("uname");

  var data = "";
    $.get( "/viewAll", function( data ) {
		$( "#output" ).html( data );
        alert( "Data Loaded: " + data );
      });

});

</script>
    </div>
	<!-- /content -->
	<div id="output">
		
	</div>
	
	<div data-role="footer" data-theme="a">
		<h4>Stromboli Pizza &copy; 2019</h4><br>
		<h4>Open 7 Days from 11am - 10pm</h4>
	</div><!-- /footer -->
</div>

<!-------------------- DRIVER DASHBOARD ----------------------->

<div data-role="page" id="driver" data-theme="a">

	<div data-role="header">
		<h1>Driver</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Driver</h2>
    <button id="viewOrders">View Orders</button>

<script>

$("#viewOrders").click(function(){

  var name = sessionStorage.getItem("uname");

  var data = "";
    $.get( "/viewAll", function( data ) {
		$( "#output" ).html( data );
        alert( "Data Loaded: " + data );
      });

});

</script>
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script> 
  <div id="output">
  
  </div>
  
  <!--- <script>
//The getJSON function allows us to make a call outside of our server out to somewhere else, such as an API

 $.getJSON( "http://api.apixu.com/v1/forecast.json?key=1ebeebb573f84a8bbcd215442192204&q=Dublin", 
  function( data ) {
     // just to see what the response looks like, we will do a console.log which will dump the entire API response to the console.
     console.log(data);

     // By looking at the structure of the console.log, we can see that in the "data" object that is returned, there are
     // individual "articles". So we will use a loop to go through these articles.
      for(var i=0;i<data.articles.length; i++)
      {
        
        // For each individual news story that we have, we will take one article title at a time
        // and then append it into the #output div tag at the top of the page.
        var singleTitle = data.articles[i].title
        $('#output').append(singleTitle + '<br>')
        
      }  
     
  });
  </script> --->
    
	</div>
	<!-- /content -->
	
	<div data-role="footer" data-theme="a">
		<h4>Stromboli Pizza &copy; 2019</h4><br>
		<h4>Open 7 Days from 11am - 10pm</h4>
	</div><!-- /footer -->
</div>


<!---------- CUSTOMER DASHBOARD ------------------------->
 
<div data-role="page" id="customer" data-theme="a">
<script>

// template for a product
class product {
  constructor(name, size, price, qty) {
    this.name = name;
	this.size = size;
    this.price = price;
    this.qty = qty;
  }
}

// define our products
//pizza = new product("...") or a separate variable for each project
hawaiian = new product("hawaiian", "", 0, 0);
ny = new product("ny", "", 0, 0);
house = new product("house", "", 0, 0);
custom = new product("custom", "", 0, 0);
wedges = new product("wedges", "", 5, 0);
bread = new product ("bread", "", 5, 0);
coke = new product ("coke", "", 1, 0);
fanta = new product ("fanta", "", 1, 0);
sprite = new product ("sprite", "", 1, 0);


var prod = []; //array of products
</script>
<div data-role="header">
		<h1>Customer</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">
		<h2>Set Menu</h2>
<table>
	<tr>
      <th>Select Pizza(s)</th>
      <th>Select Size</th>
      <th>Quantity</th>
      <th>Add to Cart</th>
    </tr>
	
	<tr><td>	
	<label>
	<input type="checkbox" name="pizza" value ="Hawaiian" id="check-option-0a">Hawaiian Pizza
	</label>
	</td>
	<td>
	<div class="pizza-size">
    <label for="pizza-size-hw"></label>
    <select class="size" id="pizza-size-hw">
        <option value="" selected disabled hidden>Choose here</option>
		<option value="small">Small - &euro;5</option>
        <option value="medium">Medium - &euro;10</option>
        <option value="large">Large - &euro;11</option>
    </select>
	</div>
	</td>
	
	<td>
	<div class = "quantity">
	<input type="number" id="hawaiianQty" min="0" max="100" value = "0"/>
	</div>
	</div>
	</td>
	
	<td>
	<div class = "cartConfirm">
	<input type="button" id= "hawaiiAdd" data-icon="check" value="Add To Cart">
	</div>
	</td>
<script>
	$('[id = hawaiiAdd').click(function(){
	if (($("#check-option-0a").checked = true) && ($("#hawaiianQty").val() > 0)){
	console.log("conditionGood");
	hawaiian.size = $("#pizza-size-hw").val();
	hawaiian.qty = $("#hawaiianQty").val();
	if (hawaiian.size == "small"){
		hawaiian.price = 5 * hawaiian.qty;
		}
	else if (hawaiian.size == "medium"){
		hawaiian.price = 10 * hawaiian.qty;
		}
	else {
		hawaiian.price = 11 * hawaiian.qty;
	}
	console.log (hawaiian.price);
	prod.push (hawaiian);
	}
});
</script>
	</tr>
	<tr>
	<td><label for="check-option-0b">New Yorker Pizza</label>
    <input type="checkbox" name="pizza" value = "NY" id="check-option-0b" class="custom">
	</td>
	<td>
	<div class="pizza-size">
	<label for="pizza-size-ny"></label>
    <select class="size" id="pizza-size-ny">
        <option value="" selected disabled hidden>Choose here</option>
		<option value="small">Small - &euro;5</option>
        <option value="medium">Medium - &euro;10</option>
        <option value="large">Large - &euro;11</option>
	</div>
    </select>
	</td>
	<td>
	<div class = "quantity">
	<input type="number" id="nyQty" min="0" max="100" value = "0"/>
	</div>
	</td>
	<td>
	<div class = "cartConfirm">
	<input type="button" id= "nyAdd" data-icon="check" value="Add To Cart">
	</div>
	</td>
<script>
	$('[id = nyAdd').click(function(){
	if (($("#check-option-0b").checked = true) && ($("#nyQty").val() > 0)){
	console.log("conditionGood");
	ny.size = $("#pizza-size-ny").val();
	ny.qty = $("#nyQty").val();
	if (ny.size == "small"){
		ny.price = 5 * ny.qty;
		}
	else if (ny.size == "medium"){
		ny.price = 10 * ny.qty;
		}
	else {
		ny.price = 11 * ny.qty;
	}
	console.log (ny.price);
	prod.push (ny);
	}
});
</script>	
	</tr>
		
	<tr><td>
	<label for="check-option-0c">House Special Pizza</label>
    <input type="checkbox" name="pizza" value =" House" id="check-option-0c" class="custom">
	</td>
	<td>
	<div class="pizza-size">
	<label for="pizza-size-hs"></label>
    <select class="size" id="pizza-size-hs">
        <option value="" selected disabled hidden>Choose here</option>
		<option value="small">Small - &euro;5</option>
        <option value="medium">Medium - &euro;10</option>
        <option value="large">Large - &euro;11</option>
	</div>
    </select>
	</td>
	<td>
	<div class = "quantity">
	<input type="number" id="houseQty" min="0" max="100" value = "0"/>
	</div>
	</td>
	<td>
	<div class = "cartConfirm">
	<input type="button" id= "houseAdd" data-icon="check" value="Add To Cart">
	</div>
	</td>
<script>
	$('[id = houseAdd').click(function(){
	if (($("#check-option-0c").checked = true) && ($("#houseQty").val() > 0)){
	console.log("conditionGood");
	house.size = $("#pizza-size-hs").val();
	house.qty = $("#houseQty").val();
	if (house.size == "small"){
		house.price = 5 * house.qty;
		}
	else if (house.size == "medium"){
		house.price = 10 * house.qty;
		}
	else {
		house.price = 11 * house.qty;
	}
	console.log (house.price);
	prod.push (house);
	}
});
</script>		
	</td>	
	</tr>
</table>
	
	<h2>Custom Pizza</h2>
	<table>
	<tr>
      <th>Custom Pizza Select</th>
      <th>Select Size</th>
	  <th>Quantity</th>
      <th>Add to Cart</th>
    </tr>
	<tr><td>	
	<label>
	<input type="checkbox" name="pizza" value ="Custom" id="check-option-cs">Custom Pizza
	</label></td>
	<td>
	<div class="pizza-size">
	<label for="pizza-size-cs"></label>
    <select class="size" id="pizza-size-cs">
        <option value="" selected disabled hidden>Choose here</option>
		<option value="small">Small - &euro;5</option>
        <option value="medium">Medium - &euro;10</option>
        <option value="large">Large - &euro;11</option>
	</div>
	</select>
	</td>
	<td>
	<div class = "quantity">
	<input type="number" id="customQty" min="0" max="100" value = "0"/>
	</div>
	</td>
	<td>
	<div class = "cartConfirm">
	<input type="button" id= "customAdd" data-icon="check" value="Add To Cart">
	</div>
	</td>
<script>
	$('[id = customAdd').click(function(){
	if (($("#check-option-0d").checked = true) && ($("#customQty").val() > 0)){
	console.log("conditionGood");
	custom.size = $("#pizza-size-cs").val();
	custom.qty = $("#customQty").val();
	if (custom.size == "small"){
		custom.price = 5 * custom.qty;
		}
	else if (custom.size == "medium"){
		custom.price = 10 * custom.qty;
		}
	else {
		custom.price = 11 * custom.qty;
	}
	console.log (custom.price);
	prod.push (custom);
	}
});
</script>
	</table>
	<h2>Sides</h2>
<table>
	<tr>
      <th>Select Side(s)</th>
      <th>Quantity</th>
      <th>Add to Cart</th>
    </tr>
	<tr><td>
	<label>
	<input type="checkbox" name="sides" value ="Wedges" id="check-option-1a">Potato Wedges - &euro;5
	</label>
	</td>
	<td>
	<div class = "quantity">
	<input type="number" id="wedgesQty" min="0" max="100" value = "0"/>
	</div>
	</td>
	<td>
	<div class = "cartConfirm">
	<input type="button" id= "wedgesAdd" data-icon="check" value="Add To Cart">
	<div class = "cartConfirm">
	</td>
<script>
	$('[id = wedgesAdd').click(function(){
	if (($("#check-option-1a").checked = true) && ($("#wedgesQty").val() > 0)){
	console.log("conditionGood");
	wedges.qty = $("#wedgesQty").val();
	wedges.price = 5 * wedges.qty;
	
	console.log (wedges.price);
	prod.push (wedges);
	}
});
</script>
	</tr>
	<tr>
	<td>
	<label for="check-option-1b">Garlic Bread - &euro;5</label>
    <input type="checkbox" name="sides" value = "GBread" id="check-option-1b" class="custom">
	</td>
	<td>
	<div class = "quantity">
	<input type="number" id="breadQty" min="0" max="100" value = "0"/>
	</div>
	</td>
	<td>
	<div class = "cartConfirm">
	<input type="button" id= "breadAdd" data-icon="check" value="Add To Cart">
	</div>
	</td>
<script>
	$('[id = breadAdd').click(function(){
	if (($("#check-option-1b").checked = true) && ($("#breadQty").val() > 0)){
	console.log("conditionGood");
	bread.qty = $("#breadQty").val();
	bread.price = 5 * bread.qty;
	
	console.log (bread.price);
	prod.push (bread);
	}
});
</script>
	</tr>
</table>	
	<h2>Drinks</h2>
<table>
	<tr>
      <th>Select Drink(s)</th>
      <th>Quantity</th>
      <th>Add to Cart</th>
    </tr>
	<tr><td>
	<label>
	<input type="checkbox" name="drink" value ="Coke" id="check-option-2a">Coca-Cola - &euro;1
	</label>
	<td>
	<div class = "quantity">
	<input type="number" id="cokeQty" min="0" max="100" value = "0"/>
	</div>
	</td>
	<td>
	<div class = "cartConfirm">
	<input type="button" id= "cokeAdd" data-icon="check" value="Add To Cart">
	</div>
<script>
	$('[id = cokeAdd').click(function(){
	if (($("#check-option-2a").checked = true) && ($("#cokeQty").val() > 0)){
	console.log("conditionGood");
	coke.qty = $("#cokeQty").val();
	coke.price = 1 * coke.qty;
	
	console.log (coke.price);
	prod.push (coke);
	}
});
</script>
	</td>
	</tr>
	<tr>
	<td>	
	<label for="check-option-2b">Fanta - &euro;1</label>
    <input type="checkbox" name="drink" value = "Fanta" id="check-option-2b" class="custom">
	</td>
	<td>
	<div class = "quantity">
	<input type="number" id="fantaQty" min="0" max="100" value = "0"/>
	</div>
	</td>
	<td>
	<div class = "cartConfirm">
 	<input type="button" id= "fantaAdd" data-icon="check" value="Add To Cart">
	</div>
	</td>
<script>
	$('[id = fantaAdd').click(function(){
	if (($("#check-option-2b").checked = true) && ($("#fantaQty").val() > 0)){
	console.log("conditionGood");
	fanta.qty = $("#fantaQty").val();
	fanta.price = 1 * fanta.qty;
	
	console.log (fanta.price);
	prod.push (fanta);
	}
});
</script>
	</tr>
	<tr><td>
	<label for="check-option-2c">Sprite - &euro;1</label>
    <input type="checkbox" name="drink" value = "Sprite" id="check-option-2c" class="custom">
	</td>
	<td>
	<div class = "quantity">
	<input type="number" id="spriteQty" min="0" max="100" value = "0"/>
	</div>
	</td>
	<td>
	<div class = "cartConfirm">
	<input type="button" id= "spriteAdd" data-icon="check" value="Add To Cart">
	</div>
	</td>
<script>
	$('[id = spriteAdd').click(function(){
	if (($("#check-option-2c").checked = true) && ($("#spriteQty").val() > 0)){
	console.log("conditionGood");
	sprite.qty = $("#spriteQty").val();
	sprite.price = 1 * sprite.qty;
	
	console.log (sprite.price);
	prod.push (sprite);
	}
});
</script>	
	</tr>
	</td></tr>
</table>	

    <label for="textarea-1"><h3>Special Requirements:</h3></label>
    <textarea name="requirements" id="requirements"></textarea>
	
	<label for="textarea-1"><h3>Delivery Address:</h3></label>
    <textarea name="address" id="address"></textarea>

                    
<button id="viewOrder">View Cart & Order Details</button>

<h2>Your Order </h2><br>
<div id="orderDetails">


</div>                 
<script>
$( "#viewOrder" ).click(function() {
  var content = "<table data-role='table' id='movie-table' data-mode='reflow' class='ui-responsive'>";
  var total = 0; 
  for (i = 0; i < prod.length; i++){
    
	total = total + prod[i].price;
	console.log (total);
    content+="<th>Product</th><th>Size</th><th>Qty</th><th>Subtotal</th>";
	content+="<tr>";
        content+="<td>"+prod[i].name+"</td>";
        content+="<td>"+prod[i].size+"</td>";
        content+="<td>"+prod[i].qty+"</td>";
		content+="<td>€"+prod[i].price+"</td>";
        content+="</tr>";
	console.log (prod[i]);
    }
    content+="</table>";
	content+= "<br><strong>Total Order Cost: €" + total + "</strong><br>";

  var requirements = $("#requirements").val();
  var address = $("#address").val();
  
	content+= "<br><strong>Special Requirements: </strong><br>" + requirements;
	content+= "<br><strong>Delivery Address: </strong><br>" + address;
  $("#orderDetails").html(content);
});
</script>

<button id="checkitout">Checkout</button>

<script>

$("#checkitout").click(function(){

   var ser = '';
   var name = sessionStorage.getItem("uname");
   var address = $("#address").val();
   
   var arrayLength = prod.length;
     
        for (var i = 0; i < arrayLength; i++) { // loop over the products
            
            var pro = prod[i] // get one product at a time
            console.log(pro.name);
            console.log(pro.qty);
			console.log(pro.price);
            
            ser = ser + pro.name + '-' + pro.qty + '-' + pro.price + '=';
        }
    // jQuery post and send
	var data = "";
    $.post( "/cartController", { placedby: name, orderdetails: ser, deliveryaddress: address })
      .done(function( data ) {
        alert( "Data Loaded: " + data );
      });


console.log(ser);
});

</script>
		
    </div><!-- /content -->
	<div data-role="footer" data-theme="a">
		<h4>Stromboli Pizza &copy; 2019</h4><br>
		<h4>Open 7 Days from 11am - 10pm</h4>
	</div><!-- /footer -->
</div>


<!-------------------------	LOGIN PAGE ------------------------------------>

<div data-role="page" id="login" data-theme="a">
<div data-role="header">
		<h1>Login page</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">
		<h2>Login</h2>
		
		Username <input type="text" name="login_username" id="login_username" value="">
		Password <input type="password" name="login_password" id="login_password" value="">
		<button class="ui-btn" id="loginButton">Submit</button>
		
	</div><!-- /content -->
	<div data-role="footer" data-theme="a">
		<h4>Stromboli Pizza &copy; 2019</h4><br>
		<h4>Open 7 Days from 11am - 10pm</h4>
	</div><!-- /footer -->
</div>

<!-------------------------- REGISTER PAGE --------------------------------->

<div data-role="page" id="register" data-theme="a">

<div data-role="header">
		<h1>Register</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">
	<h2>Account Registration</h2>
    
       Username <input type="text" name="username" id="username" value="">
       Password <input type="text" name="password" id="password" value="">
	   Account Type <select name="acctype" id="acctype">
        <option value="customer">Customer</option>
        <option value="driver">Driver</option>
        <option value="manager">Manager</option>
    </select>
	<button class="ui-btn" id="registerButton">Submit</button>
		

	</div><!-- /content -->
	<div data-role="footer" data-theme="a">
		<h4>Stromboli Pizza &copy; 2019</h4><br>
		<h4>Open 7 Days from 11am - 10pm</h4>
	</div><!-- /footer -->
</div>
</body>
<script>

$( "#loginButton" ).click(function() {
  var un = $( "#login_username" ).val();
  console.log(un);
  sessionStorage.setItem ("uname", un); //temporary session storage using un variable, called in cart push to db
  
  var pw = $( "#login_password" ).val();
  console.log(pw);
  
  $.post( "/backEnd", { type: "login", username:un, password:pw})
  .done(function( data ) {
    alert( "Data Loaded: " + data );
   
  if(data == 'customer'){
		window.location = "/index#customer";
		}
	else if (data == 'driver'){
		window.location = "/index#driver";
		}
	else {
		window.location = "index#manager";
		}
	});
});
	
$( "#registerButton" ).click(function() {
  var un = $( "#username" ).val();
  console.log(un);
  
  var pw = $( "#password" ).val();
  console.log(pw);
  
  var at = $( "#acctype" ).val();
  console.log(at);

  $.post( "/backEnd", { type: "register", username:un, password:pw, acctype:at})
  .done(function( data ) {
    alert( "Data Loaded: " + data );
   	window.location = "index#login";
	});
  //alert( "Register button pressed" );
  
});
</script>
</html>
